In [181]:
import re
import numpy as np
import pandas as pd

In [182]:
files = ['norm.txt', 'para.txt', 'para_cut_20.txt', 'para_cut_30.txt', 'para_cut_40.txt']

In [183]:
data = []
for file in files:
    with open(file) as f:
        readlines = f.readlines()
    read = []
    tmp = []
    for line in readlines:
        
        if 'numbers of integer' in line:
            tmp.append(file[:-4])
            num = re.findall("\d+",line)[0]
            tmp.append(num)
        if 'totalmax of 10 trials' in line:
            num = re.findall("\d+",line)[1]
            tmp.append(str(int(num) / 10))
        if 'average - CPU - time' in line:
            num = re.findall("\d+",line)[0]
            tmp.append(num)
        if 'the real time is ' in line:
            num = re.findall("\d+",line)[0]
            tmp.append(str(int(num)/10))
            read.append(tmp)
            tmp = []

    print("number totalmax average-CPU real-time")
    data.append(read)
    print(np.asarray(data[-1]))

number totalmax average-CPU real-time
[['norm' '70' '42027218.5' '2' '2.1']
 ['norm' '75' '17945700.9' '6' '6.3']
 ['norm' '80' '5424210.5' '25' '25.1']
 ['norm' '85' '3736875.8' '76' '77.0']
 ['norm' '90' '936352.6' '213' '213.4']
 ['norm' '95' '313619.6' '726' '726.9']
 ['norm' '100' '89596.8' '2263' '2263.3']]
number totalmax average-CPU real-time
[['para' '70' '42027218.5' '2' '0.2']
 ['para' '75' '17945700.9' '9' '2.6']
 ['para' '80' '5424210.5' '29' '2.9']
 ['para' '85' '3736875.8' '105' '26.2']
 ['para' '90' '936352.6' '277' '27.6']
 ['para' '95' '313619.6' '1004' '224.3']
 ['para' '100' '89596.8' '3150' '320.0']
 ['para' '105' '70007.7' '12128' '2117.1']
 ['para' '110' '6080.7' '36723' '3628.3']]
number totalmax average-CPU real-time
[['para_cut_20' '70' '57363787.3' '2' '0.1']
 ['para_cut_20' '75' '17945700.9' '8' '0.7']
 ['para_cut_20' '80' '6697595.1' '34' '2.4']
 ['para_cut_20' '85' '3736875.8' '98' '7.9']
 ['para_cut_20' '90' '978972.4' '314' '23.1']
 ['para_cut_20' '95' '319949.1' '903' '69.5']
 ['para_cut_20' '100' '89596.8' '3496' '258.1']
 ['para_cut_20' '105' '70946.8' '10944' '848.9']
 ['para_cut_20' '110' '13237.2' '40582' '2996.4']]
number totalmax average-CPU real-time
[['para_cut_30' '70' '57556470.3' '2' '0.1']
 ['para_cut_30' '75' '22972743.0' '7' '0.5']
 ['para_cut_30' '80' '6697595.1' '25' '1.7']
 ['para_cut_30' '85' '3736875.8' '85' '5.8']
 ['para_cut_30' '90' '996364.1' '232' '15.7']
 ['para_cut_30' '95' '323255.9' '785' '53.7']
 ['para_cut_30' '100' '89596.8' '2612' '183.5']
 ['para_cut_30' '105' '73830.7' '9722' '670.0']]
number totalmax average-CPU real-time
[['para_cut_40' '70' '60887017.9' '1' '0.1']
 ['para_cut_40' '75' '26174736.5' '6' '0.4']
 ['para_cut_40' '80' '9779203.3' '20' '1.3']
 ['para_cut_40' '85' '5827761.9' '70' '4.5']
 ['para_cut_40' '90' '996364.1' '194' '12.5']
 ['para_cut_40' '95' '352311.6' '653' '45.4']
 ['para_cut_40' '100' '106223.9' '2123' '149.0']
 ['para_cut_40' '105' '75189.7' '7857' '545.5']]

In [184]:
count = 0
res = []
for it in zip(data[0], data[1]):
    tmp1 = float(it[1][3]) - float(it[0][4])
    str_tmp = str(round(tmp1,3))
    tmp = data[1][count]
    tmp.append(str_tmp)
    print(data[1][count])
    count += 1
    print(str_tmp)
    res.append(tmp)
data[1] = res

['para', '70', '42027218.5', '2', '0.2', '-0.1']
-0.1
['para', '75', '17945700.9', '9', '2.6', '2.7']
2.7
['para', '80', '5424210.5', '29', '2.9', '3.9']
3.9
['para', '85', '3736875.8', '105', '26.2', '28.0']
28.0
['para', '90', '936352.6', '277', '27.6', '63.6']
63.6
['para', '95', '313619.6', '1004', '224.3', '277.1']
277.1
['para', '100', '89596.8', '3150', '320.0', '886.7']
886.7

In [185]:
data_ = [np.asarray(item) for item in data]
data_

[array([['norm', '70', '42027218.5', '2', '2.1'],
        ['norm', '75', '17945700.9', '6', '6.3'],
        ['norm', '80', '5424210.5', '25', '25.1'],
        ['norm', '85', '3736875.8', '76', '77.0'],
        ['norm', '90', '936352.6', '213', '213.4'],
        ['norm', '95', '313619.6', '726', '726.9'],
        ['norm', '100', '89596.8', '2263', '2263.3']], dtype='<U10'),
 array([['para', '70', '42027218.5', '2', '0.2', '-0.1'],
        ['para', '75', '17945700.9', '9', '2.6', '2.7'],
        ['para', '80', '5424210.5', '29', '2.9', '3.9'],
        ['para', '85', '3736875.8', '105', '26.2', '28.0'],
        ['para', '90', '936352.6', '277', '27.6', '63.6'],
        ['para', '95', '313619.6', '1004', '224.3', '277.1'],
        ['para', '100', '89596.8', '3150', '320.0', '886.7']], dtype='<U10'),
 array([['para_cut_20', '70', '57363787.3', '2', '0.1'],
        ['para_cut_20', '75', '17945700.9', '8', '0.7'],
        ['para_cut_20', '80', '6697595.1', '34', '2.4'],
        ['para_cut_20', '85', '3736875.8', '98', '7.9'],
        ['para_cut_20', '90', '978972.4', '314', '23.1'],
        ['para_cut_20', '95', '319949.1', '903', '69.5'],
        ['para_cut_20', '100', '89596.8', '3496', '258.1'],
        ['para_cut_20', '105', '70946.8', '10944', '848.9'],
        ['para_cut_20', '110', '13237.2', '40582', '2996.4']], dtype='<U11'),
 array([['para_cut_30', '70', '57556470.3', '2', '0.1'],
        ['para_cut_30', '75', '22972743.0', '7', '0.5'],
        ['para_cut_30', '80', '6697595.1', '25', '1.7'],
        ['para_cut_30', '85', '3736875.8', '85', '5.8'],
        ['para_cut_30', '90', '996364.1', '232', '15.7'],
        ['para_cut_30', '95', '323255.9', '785', '53.7'],
        ['para_cut_30', '100', '89596.8', '2612', '183.5'],
        ['para_cut_30', '105', '73830.7', '9722', '670.0']], dtype='<U11'),
 array([['para_cut_40', '70', '60887017.9', '1', '0.1'],
        ['para_cut_40', '75', '26174736.5', '6', '0.4'],
        ['para_cut_40', '80', '9779203.3', '20', '1.3'],
        ['para_cut_40', '85', '5827761.9', '70', '4.5'],
        ['para_cut_40', '90', '996364.1', '194', '12.5'],
        ['para_cut_40', '95', '352311.6', '653', '45.4'],
        ['para_cut_40', '100', '106223.9', '2123', '149.0'],
        ['para_cut_40', '105', '75189.7', '7857', '545.5']], dtype='<U11')]

In [186]:

data_[1]

array([['para', '70', '42027218.5', '2', '0.2', '-0.1'],
       ['para', '75', '17945700.9', '9', '2.6', '2.7'],
       ['para', '80', '5424210.5', '29', '2.9', '3.9'],
       ['para', '85', '3736875.8', '105', '26.2', '28.0'],
       ['para', '90', '936352.6', '277', '27.6', '63.6'],
       ['para', '95', '313619.6', '1004', '224.3', '277.1'],
       ['para', '100', '89596.8', '3150', '320.0', '886.7']], dtype='<U10')

In [190]:
df0 = pd.DataFrame(data_[0],
                   columns = ['method', '数据规模', 'a_max', 'a_cpu', 'a_real_time'])
df1 = pd.DataFrame(data_[1],
                   columns = ['method', '数据规模', 'a_max', 'a_cpu', 'a_real_time', 'a_cpu-real'])
df2 = pd.DataFrame(data_[2],
                   columns = ['method', '数据规模', 'a_max', 'a_cpu', 'a_real_time'])
df3 = pd.DataFrame(data_[3],
                   columns = ['method', '数据规模', 'a_max', 'a_cpu', 'a_real_time'])
df4 = pd.DataFrame(data_[4],
                   columns = ['method', '数据规模', 'a_max', 'a_cpu', 'a_real_time'])

In [191]:
df_new = pd.concat([df0, df1, df2, df3, df4])
df_new.数据规模 = df_new.数据规模.apply(lambda x: int(x))
df_modified = df_new.set_index(['数据规模', 'method']).sort_index()
df_modified

                       a_max  a_cpu a_real_time a_cpu-real
数据规模 method
70   norm         42027218.5      2         2.1        NaN
     para         42027218.5      2         0.2       -0.1
     para_cut_20  57363787.3      2         0.1        NaN
     para_cut_30  57556470.3      2         0.1        NaN
     para_cut_40  60887017.9      1         0.1        NaN
75   norm         17945700.9      6         6.3        NaN
     para         17945700.9      9         2.6        2.7
     para_cut_20  17945700.9      8         0.7        NaN
     para_cut_30  22972743.0      7         0.5        NaN
     para_cut_40  26174736.5      6         0.4        NaN
80   norm          5424210.5     25        25.1        NaN
     para          5424210.5     29         2.9        3.9
     para_cut_20   6697595.1     34         2.4        NaN
     para_cut_30   6697595.1     25         1.7        NaN
     para_cut_40   9779203.3     20         1.3        NaN
85   norm          3736875.8     76        77.0        NaN
     para          3736875.8    105        26.2       28.0
     para_cut_20   3736875.8     98         7.9        NaN
     para_cut_30   3736875.8     85         5.8        NaN
     para_cut_40   5827761.9     70         4.5        NaN
90   norm           936352.6    213       213.4        NaN
     para           936352.6    277        27.6       63.6
     para_cut_20    978972.4    314        23.1        NaN
     para_cut_30    996364.1    232        15.7        NaN
     para_cut_40    996364.1    194        12.5        NaN
95   norm           313619.6    726       726.9        NaN
     para           313619.6   1004       224.3      277.1
     para_cut_20    319949.1    903        69.5        NaN
     para_cut_30    323255.9    785        53.7        NaN
     para_cut_40    352311.6    653        45.4        NaN
100  norm            89596.8   2263      2263.3        NaN
     para            89596.8   3150       320.0      886.7
     para_cut_20     89596.8   3496       258.1        NaN
     para_cut_30     89596.8   2612       183.5        NaN
     para_cut_40    106223.9   2123       149.0        NaN
105  para_cut_20     70946.8  10944       848.9        NaN
     para_cut_30     73830.7   9722       670.0        NaN
     para_cut_40     75189.7   7857       545.5        NaN
110  para_cut_20     13237.2  40582      2996.4        NaN

In [192]:
df_modified.dropna(axis=0, how= 'any')
# data.dropna(axis=0,how='any

                  a_max a_cpu a_real_time a_cpu-real
数据规模 method
70   para    42027218.5     2         0.2       -0.1
75   para    17945700.9     9         2.6        2.7
80   para     5424210.5    29         2.9        3.9
85   para     3736875.8   105        26.2       28.0
90   para      936352.6   277        27.6       63.6
95   para      313619.6  1004       224.3      277.1
100  para       89596.8  3150       320.0      886.7

In [202]:
norm = list(df_new[df_new.method == 'norm'].a_real_time)
norm = [float(i) for i in norm]
para = list(df_new[df_new.method == 'para'].a_real_time)
para = [float(i) for i in para]
para_cut_20 = list(df_new[df_new.method == 'para_cut_20'].a_real_time)
para_cut_20 = [float(i) for i in para_cut_20]
para_cut_30 = list(df_new[df_new.method == 'para_cut_30'].a_real_time)
para_cut_30 = [float(i) for i in para_cut_30]
para_cut_40 = list(df_new[df_new.method == 'para_cut_40'].a_real_time)
para_cut_40 = [float(i) for i in para_cut_40]

[2.1, 6.3, 25.1, 77.0, 213.4, 726.9, 2263.3]

In [ ]:
# coding=utf-8

import numpy as np
import matplotlib.pyplot as plt
import math

plt.rcParams['font.sans-serif'] = ['SimHei']  # 如果要显示中文字体,则在此处设为：SimHei
plt.rcParams['axes.unicode_minus'] = False  # 显示负号


norm_p = [math.log(i)/math.log(10) for i in x1]
# x22 = [math.log(i)/math.log(10) for i in x2]
# x33 = [math.log(i)/math.log(10) for i in x3]
# VGG_supervised = np.array(x1)
VGG_unsupervised = np.array(x2)
ourNetwork = np.array(x3)

# label在图示(legend)中显示。若为数学公式,则最好在字符串前后添加"$"符号
# color：b:blue、g:green、r:red、c:cyan、m:magenta、y:yellow、k:black、w:white、、、
# 线型：-  --   -.  :    ,
# marker：.  ,   o   v    <    *    +    1
plt.figure(figsize=(10, 5))
plt.grid(linestyle="--")  # 设置背景网格线为虚线
ax = plt.gca()
ax.spines['top'].set_visible(False)  # 去掉上边框
ax.spines['right'].set_visible(False)  # 去掉右边框


# plt.plot(x, VGG_supervised, marker='o', color="blue", label="normal_BFS", linewidth=1.5)
plt.plot(x, VGG_unsupervised, marker='o', color="green", label="re_BFS", linewidth=1.5)
plt.plot(x, ourNetwork, marker='o', color="red", label="re_BFS_improved", linewidth=1.5)

group_labels = ['1', '2', '3', '4', '5', ' 6', '7', '8', '9', '10']  # x轴刻度的标识
plt.xticks(x, group_labels, fontsize=12, fontweight='bold')  # 默认字体大小为10
plt.yticks(fontsize=12, fontweight='bold')
# plt.title("example", fontsize=12, fontweight='bold')  # 默认字体大小为12
plt.ylabel("time cost(ms)", fontsize=13, fontweight='bold')
plt.xlabel("numbers of keywords to find", fontsize=13, fontweight='bold')
plt.xlim(1, 10)  # 设置x轴的范围
plt.ylim(0, 150)

# plt.legend()          #显示各曲线的图例
plt.legend(loc=0, numpoints=1)
leg = plt.gca().get_legend()
ltext = leg.get_texts()
plt.setp(ltext, fontsize=12, fontweight='bold')  # 设置图例字体的大小和粗细
plt.rcParams['figure.dpi'] = 1300 #分辨率
plt.savefig('./filename.png', format='png')  # 建议保存为svg格式,再用inkscape转为矢量图emf后插入word中

plt.show()